registry=https://registry.npmmirror.com
loglevel=error
network-concurrency=16
fetch-retries=3
fetch-timeout=60000
strict-peer-dependencies=false
auto-install-peers=true
lockfile=true
prefer-frozen-lockfile=true
update-notifier=false
